.remedy-current-summary {
	padding-left: 10px;
	font-size: 90%;
}
.remedy-smaller {
	font-size: 90%;
}

table.remedy-relations {
	border: 0px none;
}

table.remedy tr td.created_on,
table.remedy tr td.status,
table.remedy tr td.priority {
	white-space: nowrap;
}

span.remedy {
  padding-bottom: 4px;
}
.remedy.overdue {
  background: url(../../../images/exclamation.png) 2px 3px no-repeat;
  padding-left: 22px;
  font-weight: bold;
}
.remedy.warn {
  background: url(../../../images/warning.png) 2px 3px no-repeat;
  padding-left: 22px;
  font-weight: bold;
}

.remedy.action-required {
  background: url(../../../images/edit.png) 2px 3px no-repeat;
  padding-left: 22px;
  font-weight: bold;
}
